{{- $p := .Values.project | default dict -}}
{{- with (dig "network" "ingressControllerNamespace" "" $p) }}
---
# Allow ingress from the ingress controller namespace
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-ingress-controller
  namespace: {{ include "ws-project.namespace" $ }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ . | quote }}
{{- end }}
