{{- $p := .Values.project | default dict -}}
{{- if (dig "network" "dnsEgress" true $p) }}
---
# Allow egress to kube-dns
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-dns
  namespace: {{ include "ws-project.namespace" . }}
spec:
  podSelector: {}
  policyTypes:
    - Egress
  egress:
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
{{- end }}
